.App {
  text-align: center;
}

div.title {
  background-color: lightgrey;
}

.background {
  background-image: url("/background.png");
  background-repeat: repeat-y;
}

@media screen and (min-width: 601px) {
  div.title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  div.title {
    font-size: 15px;
  }
}
